{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@": "./",
          "@src": "./src",
          "@models": "./src/models",
          "@schemas": "./src/schemas",
          "@routes": "./src/routes",
          "@controllers": "./src/controllers",
          "@middleware": "./src/middleware",
          "@config": "./config",
          "@tests": "./__tests__/",
          "@app": "./src/app",
          "@utils": "./src/utils",
          "@store": "./src/store",
          "@logger": "./src/logger",
          "@loaders": "./src/loaders",
          "@services": "./src/services",
          "@index": "./src/index"
        }
      }
    ]
  ],
  "ignore": [
    //"**/src/emails"
  ]
}
